/* Fancy Google hover button made by: csozi | Website: www.csozi.hu*/

.googlebutton {
    padding: 10px;
    font-weight: bold;
    display: flex;
    position: relative;
    overflow: hidden;
    border-radius: 35px;
    align-items: center;
    border: solid black 2px;
    outline: none;
    z-index: 1 !important;
}

.svg {
    height: 25px;
    margin-right: 10px;
}

.googlebutton .text {
    z-index: 10;
    font-size: 14px;
}

.googlebutton:hover .text {
    animation: text forwards 0.3s;
    /*color: white;*/
}

@keyframes text {
    from {
        color: black;
    }

    to {
        color: white;
    }
}

.svg {
    z-index: 6;
}

.googlebutton:hover::before {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 300px;
    animation: wave1 2.5s ease-in-out forwards;
}

.googlebutton:hover::after {
    content: "";
    display: block;
    position: absolute;
    top: 50%;
    left: 9%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    opacity: 0;
    border-radius: 300px;
    animation: wave2 2.5s ease-in-out forwards;
}

@keyframes wave1 {
    0% {
        z-index: 1;
        background: #eb4335;
        width: 0;
        height: 0;
        opacity: 1;
    }

    1% {
        z-index: 1;
        background: #eb4335;
        width: 0;
        height: 0;
        opacity: 1;
    }

    25% {
        z-index: 1;
        background: #eb4335;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    26% {
        z-index: 3;
        background: #34a853;
        width: 0;
        height: 0;
        opacity: 1;
    }

    50% {
        z-index: 3;
        background: #34a853;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    70% {
        z-index: 3;
        background: #34a853;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    100% {
        z-index: 3;
        background: #34a853;
        width: 800px;
        height: 800px;
        opacity: 1;
    }
}

@keyframes wave2 {
    0% {
        z-index: 2;
        background: #fbbc05;
        width: 0;
        height: 0;
        opacity: 1;
    }

    11% {
        z-index: 2;
        background: #fbbc05;
        width: 0;
        height: 0;
        opacity: 1;
    }

    35% {
        z-index: 2;
        background: #fbbc05;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    39% {
        z-index: 2;
        background: #fbbc05;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    40% {
        z-index: 4;
        background: #4285f4;
        width: 0;
        height: 0;
        opacity: 1;
    }

    64% {
        z-index: 4;
        background: #4285f4;
        width: 800px;
        height: 800px;
        opacity: 1;
    }

    100% {
        z-index: 4;
        background: #4285f4;
        width: 800px;
        height: 800px;
        opacity: 1;
    }
}

.googlebutton:hover .red {
    animation: disappear 0.1s forwards;
    animation-delay: 0.1s;
}

.googlebutton:hover .yellow {
    animation: disappear 0.1s forwards;
    animation-delay: 0.3s;
}

.googlebutton:hover .green {
    animation: disappear 0.1s forwards;
    animation-delay: 0.7s;
}

.googlebutton:hover .blue {
    animation: disappear 0.1s forwards;
    animation-delay: 1.1s;
}

@keyframes disappear {
    from {
        filter: brightness(1);
    }

    to {
        filter: brightness(100);
    }
}
