body {
    width: 100vw;
    height: 100vh;
    padding: 0px 0px 0px 0px;
    margin: 0;
    overflow: hidden;
}

body * {
    font-family: "Yatra One", system-ui;
    padding: 0;
    margin: 0;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
span {
    color: #cfb575;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

h2 {
    font-size: 30px;
    color: #cfb575;
    text-shadow: -1px -1 px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
        1px 1px 0 #000;
}

a {
    color: black;
    text-decoration: none;
    font-size: 20px;
}

#background {
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}

#homeBackground {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#navbar {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: nowrap;
}

.link {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.navbarButton {
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
    border: none;
    cursor: pointer;
}

.navbarButton:hover h2 {
    color: white;
}

.link:hover h2 {
    color: white;
}

#musicContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 100%;
}

#musicSelector {
    margin-left: 10px;
}

#playButton {
    margin-left: 10px;
}

#party {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.partyMember {
    width: 25%;
    height: calc(100% - 100px);
}

@media (max-width: 1200px) {
    .link h2 {
        display: none;
    }

    .navbarButton h2 {
        display: none;
    }
}

@media (max-width: 800px) {
    #navbar {
        flex-wrap: wrap;
    }
}

@import "./googleSignInButton.scss";
@import "./story.scss";
@import "./party.scss";
